{
  "*.{ts,tsx,js,jsx,mjs}": [
    "eslint --config ./.eslintrc.json --fix",
    "stylelint --config ./.stylelintrc --fix",
    "prettier --config ./.prettierrc --write"
  ],
  "{*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}": [
    "prettier --config ./.prettierrc --write --parser json"
  ]
}
